.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.font-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.title {
  text-align: center;
  margin-bottom: 0.2em;
  font-weight: 400;
  font-style: normal;
}

.subtitle {
  text-align: center;
  font-size: medium;
  font-weight: 700;
  margin-top: 0;
}

.section {
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 3rem;
}

.section h2 {
  top: -0.85rem;
  position: relative;
  margin: 0;
  background-color: #fff;
  width: fit-content;
  padding-right: 1rem;
  font-weight: 500;
  font-style: normal;
}

.text-green {
  color: green;
}

body {
  line-height: 1.6;
  font-size: 16px;
  padding: 0 2rem;
  margin: 60px auto;
  max-width: 700px;
  font-family: "Space Mono", monospace;
}

li {
  margin-top: 0.5rem;
}

h2,
h2,
h3 {
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

a:link,
a:visited,
.item {
  color: green;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.breadcrumb {
  padding: 0px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 4px;
  color: black;
  content: "/\00a0";
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
